@model IEnumerable<MainApp.ViewModels.AccountViewModel>

@{
    ViewBag.Title = "Список счетов";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Создать счет", "CreateAccount", null, new {@class="btn btn-success"})
</p>
@if (User.IsInRole("admin")) {
    <p>
        @Html.ActionLink("Пополнить счет", "Refill", null, new { @class = "btn btn-success" })
    </p>
}
<table class="table tab-pane table-hover table-sm table-info" >
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AccountNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountOpenDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Balance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Currency)
            </th>
            <th></th>
        </tr>
    </thead>

@foreach (var item in Model) {
<tbody>
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AccountNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccountName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccountOpenDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Balance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Currency)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>*@
    </tr>
</tbody>
}

</table>
