@model MainApp.ViewModels.LoginModel

@{
    Layout = null;
    ViewBag.Title = "Login";
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewBag.Title</title>

    <!-- Custom fonts for this template-->
    <link href="~/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link href="~/Content/css/sb-admin.css" rel="stylesheet">

</head>

<body class="bg-dark">

    <div class="container">
        <div class="card card-login mx-auto mt-5">
            <div class="card-header">Login</div>
            <div class="card-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="form-label-group">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @id = "LoginName", @class = "form-control", @autofocus = "autofocus", @placeholder = "Логин" }})
                            @Html.LabelFor(model => model.Name,  htmlAttributes: new { @for = "LoginName" } )
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-label-group">
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @id = "inputPassword", @autofocus = "autofocus", @placeholder = "Пароль" } })
                            @Html.LabelFor(model => model.Password, htmlAttributes: new { @for = "inputPassword" })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Login" class="btn btn-primary btn-block" />
                    </div>
                }
                <div class="text-center">
                    <a class="d-block small mt-3" href="@Url.Action("Register","UserAccount")">Register an Account</a>
                    <a class="d-block small" href="forgot-password.html">Forgot Password?</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/Content/vendor/jquery-easing/jquery.easing.min.js"></script>
    @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
</body>

</html>
