@model IEnumerable<MainApp.ViewModels.TransferViewModel>

@{
    ViewBag.Title = "Список переводов";
}

<h2>Список переводов</h2>


<div class="form-group">
    <div class="col-sm-4">
        <a class="nav-link btn btn-success" href="@Url.Action("CreateTransfer","Transfer")/?userName=@User.Identity.Name">Создать перевод</a>
    </div>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TransferId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountFrom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountTo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SenderName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransferSum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransferDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransferStatus)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr data-transfer-id="@item.TransferId">
            <td>
                @Html.DisplayFor(modelItem => item.TransferId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SenderName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransferSum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransferDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransferStatus)
            </td>
            <td>
                @{
                    if (item.TransferStatus == "Создан")
                    {
                        <button class="btn btn-success" onclick="confirm('@item.TransferId', '@User.Identity.Name')">Принять</button>
                        <button class="btn btn-danger" onclick="remove('@item.TransferId', '@User.Identity.Name')">Отменить</button>
                    }
                    else if (item.TransferStatus == "Принят")
                    {
                        <button class="btn btn-success" disabled="disabled">Принять</button>
                        <button class="btn btn-danger" disabled="disabled">Отменить</button>
                    }
                }
            </td>
        </tr>
    }

</table>


<script>
    function alertError(data) {
        alert(data.Message);
    }
    function remove(transferId, userName) {
        function removeTransfer(data) {
            if (data.StatusCode == 200) {
                alertError(data);
                setTimeout(function () {
                    const trSelector = 'tr[data-transfer-id="' + transferId + '"]';
                    const trElement = document.querySelector(trSelector);
                    trElement.remove();
                }, 1000);
                return
            } else if (data.StatusCode != 200) {
                alertError(data);
            }
        }
        $.ajax({
            url: '@Url.Action("CancelTransfer","Transfer")' + '?transferId=' + transferId + '&userName=' + userName,
            contentType: 'applicaton/json',
            type: 'POST',
            success: function (data) {
                removeTransfer(data);
                console.log(data);
            },
            error: function (error) {
                console.log(error);
            }
        })
    }

    function confirm(transferId, userName) {
        $.ajax({
            url: '@Url.Action("ConfirmTransfer","Transfer")' + '?transferId=' + transferId + '&userName=' + userName,
            contentType: 'applicaton/json',
            type: 'POST',
            success: function (data) {
                confirmTransfer(data);
            },
            error: function (error) {
                console.log(error);
            }
        })

        function confirmTransfer(data) {
            if (data.StatusCode == 200) {
                alertError(data);
                setTimeout(function () {
                    window.location.reload();
                }, 1000);
            } else if (data.StatusCode != 200) {
                alertError(data);
            }
        }
    }
</script>