@model IEnumerable<MainApp.Models.PaymentModel.Utility>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Создать услугу", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UtilityName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UtilityDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UtilityCategoryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UtilityAccountNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UtilityImagePath)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UtilityName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UtilityDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UtilityCategoryId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UtilityAccountNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UtilityImagePath)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UtilityId }) |
            @Html.ActionLink("Details", "Details", new { id=item.UtilityId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UtilityId })
        </td>
    </tr>
}

</table>
