@model IEnumerable<MainApp.ViewModels.UtilityViewModel>

@{
    ViewBag.Title = "Список всех услуг";
}

<h3>@ViewBag.Title</h3>
<p>
    <a class="btn btn-success" href="@Url.Action("Create", "Utilities")">Создать услугу</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UtilityName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.UtilityCategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UtilityAccountNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UtilityDescription)
        </th>
        <th>

        </th>
        <th>

        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UtilityName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.UtilityCategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UtilityAccountNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UtilityDescription)
            </td>
            <td>
                <img src="@Url.Content(item.UtilityImagePath)" alt="@Url.Content(item.UtilityName)" width="50" height="50" />
            </td>
            <td>
                @Html.ActionLink("Изменить", "Edit", new { id = item.UtilityId }, new {@class = "btn btn-info"})
                @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
            </td>
        </tr>
    }

</table>
